.animating-wrapper {
  width: 6rem;
  height: 6rem;
  position: relative;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  & .icon-wrapper {
    position: absolute;
    width: 65px;
    height: 65px;
    background-color: #f2f5f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    & .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
      background-color: white;
      border-radius: 50%;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.animating-card-wrapper {
  width: 9rem;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  & .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 5px;
      background-color: red;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    & .text {
      font-size: 16px;
      color: red;
      font-weight: 500;
    }
  }
}
