@import '../../Styles/Variable.scss';
@import '../../Styles/Theme.scss';
@import '../../Styles/Style.scss';

.upload-wrapper {
  width: 100%;
  border-radius: 5px;
  background-color: #f5fafb;
  display: flex;
  justify-content: center;
  padding: 20px 50px;
  height: 500px;
  position: relative;

  & .heading {
    text-align: center;
    width: 40%;
    @extend %upload-title;
  }

  & .animating-one {
    position: absolute;
    top: 120px;
    left: 90px;
    animation: icon-animation 2s ease-in-out infinite;
    transition: left 1.2s, top 1s ease;
  }

  & .animating-two {
    position: absolute;
    top: 130px;
    right: 90px;
    animation: icon-animation 1.5s ease-in-out infinite;
    transition: right 1.2s, top 1s ease;
  }

  & .animating-three {
    position: absolute;
    top: 300px;
    left: 150px;
    animation: icon-animation 2.5s ease-in-out infinite;
    transition: left 1.2s, top 1s ease;
  }

  & .animating-four {
    position: absolute;
    top: 300px;
    right: 150px;
    animation: icon-animation 1.5s ease-in-out infinite;
    transition: right 1.2s, top 1s ease;
  }

  & .hide-animating-one {
    top: 250px;
    left: 550px;
  }

  & .hide-animating-two {
    top: 250px;
    right: 550px;
  }

  & .hide-animating-three {
    top: 370px;
    left: 550px;
  }

  & .hide-animating-four {
    top: 370px;
    right: 550px;
  }

  & .drag-N-drop {
    position: relative;
  }

  @keyframes icon-animation {
    0% {
      transform: translate3d(0px, 0px, 0);
    }
    50% {
      transform: translate3d(0px, 15px, 0);
    }
    100% {
      transform: translate3d(0px, 0px, 0);
    }
  }
}
